.form {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 70%;
    width: 100%;
    margin: auto;
    padding: 20px;
    gap: 10px;
}

.createForm {
    margin-top: 30px;
    width: 70%;
    margin: 0.5em auto;
}

.form input{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    border-bottom: 1px solid #808080;
    border-left: none;
    border-right: none;
    border-top: none;
}

.form input:focus{
    outline: none;
    box-shadow: none;
}

.form select{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    text-align: center;

}

.form button{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-color: #11AEB7;
    border-radius: 8px;
    color: white;
    border: none;
}

.form button:focus{
    outline: none;
    box-shadow: none;
}

.loginLink {
    font-size: 12px;
    color: blue;
}

.loginLink:hover{
    cursor: pointer;
}

.loginButton {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .title {
    font-size: 33px;
  }
  
  .disclaimer {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 12px;
  }