.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
    width: 50%;
    margin: auto;
    padding: 20px;
    gap: 10px;
}

.form input{
    width: 60%;
    margin-left: auto;
}
.form select{
    width: 60%;
    margin-left: auto;
}

.form button{
    width: 50%;
    margin: auto;
}