.form {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 70%;
    width: 100%;
    margin: auto;
    padding: 20px;
    gap: 10px;
}

.loginForm {
    margin-top: 30px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.loginForm input{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    border-bottom: 1px solid #808080;
    border-left: none;
    border-right: none;
    border-top: none;
}

.loginForm input:focus{
    outline: none;
    box-shadow: none;
}

.loginForm button{
    width: 50%;
    padding: 15px;
    background-color: #11AEB7;
    border-radius: 8px;
    color: white;
    border: none;
}

.loginForm button:focus{
    outline: none;
    box-shadow: none;
}